* {
  margin: 0px;
  padding: 0px;
}

/* Box */

.box{
  border: 2px solid black;
  height: 235px;
  width: 492px;
  margin: 150px;
  padding-bottom: 30px;
}

.banner {
  background-color: rgb(23, 162, 184);
  width: 492px;
  height: 65px;
}

/* Profile Picture */

.pro{
  position: relative;
  bottom: 30px;
  left: 20px;
}

#profile{
  height: 75px;
  width: 75px;
}


/* Center Area */

.whiteBox{
  position: relative;
  bottom: 20px;
}


.map{
  display: flex;
  padding-left: 10px;
  padding-bottom: 5px;
}

.mapIcon{
  height: 15px;
  width: 10px;
  padding-left: 15px;
}

h4{
  padding-left: 10px;
}

.para{
  padding-bottom: 90px;
  padding-left: 20px;
  }


/* Gear Icon */

.gearIcon{
height: 15px;
width: 15px;
padding-right: 5px;
}

.gears{
  display: flex;
  align-items: center;
  padding-top: 10px;
padding-bottom: 5px;
}


